
Variaveis/repos/Variaveis/.vs/Variaveis/FileContentIndex/5be4627a-47ff-48b5-81d1-4c1c14e1faf7.vsidx
Variaveis/repos/Variaveis/.vs/Variaveis/FileContentIndex/ccf3aef1-3337-4196-91e4-2a13afaaf584.vsidx
Variaveis/repos/Variaveis/.vs/Variaveis/FileContentIndex/ccf3aef1-3337-4196-91e4-2a13afaaf584.vsidx
Variaveis/repos/Variaveis/.vs/Variaveis/FileContentIndex/f9cda2f1-fa26-4fe4-8b1f-2cb7c672ff1d.vsidx
Variaveis/repos/Variaveis/.vs/Variaveis/FileContentIndex/ccf3aef1-3337-4196-91e4-2a13afaaf584.vsidx
Variaveis/repos/Variaveis/.vs/Variaveis/FileContentIndex/ccf3aef1-3337-4196-91e4-2a13afaaf584.vsidx
Variaveis/repos/Variaveis/.vs/Variaveis/FileContentIndex/ccf3aef1-3337-4196-91e4-2a13afaaf584.vsidx
Variaveis/repos/Variaveis/.vs/Variaveis/FileContentIndex/c390dfc4-6f64-491f-9bdc-7aa9bf986dbd.vsidx
